{% load static compress uw_django_template_helpers %}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


        <title>{% block title %}{% endblock title %}</title>

        {% block favicon %}
        {% endblock favicon %}

        <link href="https://fonts.googleapis.com/css?family=Cantarell:400,700|Merriweather|Open+Sans+Condensed:300,700|Open+Sans:300,400" rel="stylesheet">
        {% block head-css %}
        {% compress css %}
        <link rel="stylesheet" type="text/x-scss" href="{% static "css/uw_django.scss" %}">
        {% endcompress %}
        {% endblock head-css %}

        {% block head-js %}
        {% endblock head-js %}

        {% block extra-css %}
        {% endblock extra-css %}


    </head>
    <body>

        <header>

            <div class="navbar-float bg-dark-uw">
                <nav class="navbar navbar-uw navbar-expand-md navbar-dark bg-dark-uw">
                    <a class="navbar-brand" href="#"><img src="{% static 'images/uwaterloo-logo.svg' %}" /></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span><span class="navbar-menu-text">Menu</span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarCollapse">
                        <ul class="navbar-nav mx-auto">
                            {% block nav_links %}
                            <li class="nav-item active">
                                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Link</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link disabled" href="#">Disabled</a>
                            </li>
                            {% endblock nav_links %}
                        </ul>
                    </div>
                </nav>
            </div>
            <div id="site-colors" class="uw-site--colors">
                <div class="uw-site--c1 uw-cbar"></div>
                <div class="uw-site--c2 uw-cbar"></div>
                <div class="uw-site--c3 uw-cbar"></div>
                <div class="uw-site--c4 uw-cbar"></div>
            </div>
            {% block nameheader %}
            <div id="site-header" class="uw-site--header">
                <div class="uw-section--inner">
                    {% block sitename %}{% endblock sitename %}
                </div>
            </div>
            {% endblock nameheader %}
        </header>
    
    <div role="main" class="container">
        {% if messages %}
        {% for message in messages %}
        <div class="alert {% if message.tags %}{% alert_styles message.tags %}{% endif %} alert-dismissible" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>{% if 'safe' in message.tags %}{{ message|safe }}{% else %}{{ message }}{% endif %}</div>
        {% endfor %}
        {% endif %}

        {% block content %}{% endblock content %}
        </div>

        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>



        {% block extra_js %}
        {% endblock extra_js %}
    </body>
</html>
