{% load uw_django_template_helpers %}

<nav aria-label="Page Navigation">
    <ul class="pagination justify-content-center">
        {% if prev %}
        <li class="page-item"><a class="page-link" href="{% add_param "page" prev %}">&laquo;</a></li>
        {% else %}
        <li class="page-item disabled"><a class="page-link" href="#">&laquo;</a></li>
        {% endif %}
        {% for p in pages %}
            {% if p == -1 %}
        <li class="page-item disabled"><a class="page-link" href="#">...</a></li>
            {% elif p == page %}
        <li class="page-item active"><a class="page-link" href="#">{{ p }}</a></li>
            {% else %}
        <li class="page-item"><a class="page-link" href="{% add_param "page" p %}">{{ p }}</a></li>
            {% endif %}
        {% endfor %}

        {% if next %}
        <li class="page-item"><a class="page-link" href="{% add_param "page" next %}">&raquo;</a></li>
        {% else %}
        <li class="page-item disabled"><a class="page-link" href="#">&raquo;</a></li>
        {% endif %}
    </ul>
</nav>
