@import "variables";
@import "bootstrap/bootstrap";
@import "navbar";
@import "ansi";

#duo_iframe {
    width: 100%;
    height: 350px;
}

.uw-site--header {
    margin-right: auto;
    padding: .8rem 0 .5rem;
    text-align: center;
    min-height: 3.438rem;
    line-height: 1.4;
    height: auto;
    background-color: #eee;
    text-transform: uppercase;
}

.uw-site--header a {
    font-family: BureauGrotCond,impact,"avenir next condensed heavy","Droid Sans",sans-serif;
    text-transform: uppercase;
    font-size: 1.42383rem;
    line-height: 1.25;
    text-decoration: none;
    color: #000;
}

@media screen and (min-width: 48.0625rem) {
    .uw-site--header a {
        font-size: 2.56578rem;
    }
}

.uw-section--inner {
    padding: 0 .8rem;
    clear: both;
    max-width: 63.125rem;
    margin-left: auto;
    margin-right: auto;
}

.wide-input {
    width: 300px !important;
}

/*

@media (min-width: 922px) {
    .navbar-float {
        display: flex;
    }
}

@media (max-width: 577px) {
    .navbar-float {
        margin: inherit;
        display: flex;
    }
}*/
